<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login / Sign Up</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script type="module" src="login.js"></script>
</head>
<body>
<div id="app">
    <h2>Login</h2>
    <form @submit.prevent="login">
        <input type="text" v-model="username" placeholder="Username" required>
        <input type="password" v-model="password" placeholder="Password" required>
        <div style="display:flex; gap:10px;">
            <button type="submit">Login</button>
            <button type="button" @click="signup">Sign Up</button>
        </div>
    </form>
    <div id="result">{{ result }}</div>
</div>
</body>
</html>